/**************************************************
    body
**************************************************/
body {
	background:#fff url('../img/background/body.jpg') repeat-x;
	background-position:0 0;
	color:#555;
	font:100.1%/1 Verdana, Arial, Helvetica, sans-serif;
	margin:0;
	padding:0;
	text-align:center;
}

/**************************************************
    general
**************************************************/
a {
	background:transparent;
	color:#b484da;
	text-decoration:none;
}
a:hover {
	color:#666;
}
abbr {
	cursor:help;
}
blockquote {
	background:#f1f1f1;
	border-left:2px solid #7534aa;
	color:#444;
	font-style:italic;
	margin:0 0 0 20px;
	padding:0 0 0 10px;
}
img {
	border:0;
}
textarea {
	overflow:auto;
}
tt {
	background:transparent;
	color:#000;
	font:1.2em Monospace;
}

	/**************************************************
	    classes
	**************************************************/
	.clear {
		clear:both;
	}
	.floatleft {
		float:left;
	}
	.floatright {
		float:right;
	}
	.marginbottom {
		margin:0 0 10px;
	}
	.marginleft {
		margin:0 0 0 10px;
	}
	.marginright {
		margin:0 10px 0 0;
	}
	.margintop {
		margin:10px 0 0;
	}

/**************************************************
    container
**************************************************/
#container {
	font-size:.7em;
	line-height:2;
	margin:0 auto;
	text-align:left;
	width:760px;
}
#container:after {
	clear:both;
	content:'.';
	display:block;
	height:0;
	visibility:hidden;
}

	/**************************************************
	    header
	**************************************************/
	#header {
		background:url('../img/background/header.jpg');
		height:320px;
		margin:0 auto;
		position:relative;
		width:760px;
	}
	#header h1 {
		color:#666;
		font-size:3.5em;
		font-weight:400;
		letter-spacing:-2px;
		line-height:75px;
		margin:0;
		padding:25px 0 0;
	}
	#header p {
		background:transparent;
		color:#fff;
		float:right;
		font-size:2em;
		margin:0;
		padding:115px 20px 0 0;
	}
	#header ul {
		float:left;
		height:200px;
		list-style:none;
		margin:0;
		overflow:hidden;
		padding:0;
		width:210px;
	}
	#header ul li {
		font-size:1.2em;
		font-weight:700;
	}
	#header ul li a {
		background:transparent;
		color:#fff;
		display:block;
		line-height:40px;
		padding:0 10px;
		width:190px;
	}
	#header ul li a:hover {
		background:#b484da;
		color:#eee;
	}
	#header ul li a.selected {
		/* current page */
	}
		
		/**************************************************
		    header -> placeholder
		**************************************************/
		#header .placeholder {
			height:128px;
			overflow:hidden;
			position:absolute;
			right:26px;
			top:86px;
			width:468px;
		}
		#header .placeholder img {
			display:block;
		}

	/**************************************************
	    content
	**************************************************/
	#content {
		float:right;
		width:520px;
	}
	#content p {
		margin:0;
		padding:10px;
	}
	#content h2 {
		border-bottom:2px solid #7534aa;
		color:#444;
		font-size:1.6em;
		font-weight:400;
		line-height:1.75;
		margin:0;
		padding:0 10px;
	}

	/**************************************************
	    sidebar
	**************************************************/
	#sidebar {
		float:left;
		width:210px;
	}
	#sidebar h3 {
		border-bottom:2px solid #7534aa;
		color:#444;
		font-size:1.6em;
		font-weight:400;
		line-height:1.75;
		margin:0;
		padding:0 10px;
	}
	#sidebar p {
		background:#f1f1f1;
		display:block;
		font-size:.9em;
		margin:10px 0;
		padding:10px;
	}
	#sidebar p a.more {
		display:block;
		text-align:right;
	}
	#sidebar ul {
		margin:10px;
		padding:0;
	}
	#sidebar ul li {
		border-bottom:1px solid #b484da;
		list-style:none;
		padding:5px 2px;
	}
	#sidebar ul li a {
		color:#555;
		display:block;
		padding:5px;
		text-decoration:none;
	}
	#sidebar ul li a:hover {
		color:#000;
	}

		/**************************************************
			sidebar -> form
		**************************************************/
		#sidebar form {
			margin:0;
		}
		#sidebar form p {
			background:0;
			margin:0;
		}
		#sidebar form p input {
			color:#555;
			font:1.1em/1.1 Verdana, Arial, Helvetica, sans-serif;
			height:1.1em;
			line-height:1;
			padding:3px;
			width:174px;
		}

	/**************************************************
	    footer
	**************************************************/
	#footer {
		clear:both;
		margin:10px auto 0;
		width:760px;
	}
	#footer p {
		border-top:2px solid #7534aa;
		color:#555;
		font-size:.9em;
		line-height:2em;
		margin:0;
		padding:10px;
		text-align:center;
	}